 
<ion-content [fullscreen]="true"  > 
  <div class="login-container">

     <!-- Imagen del logo -->
     <div class="logo-container">
      <img src="../../assets/img/logo.png" alt="Logo" class="logo">
    </div>

    <ion-card class="login-card">
       

      <ion-card-content>

       

        <ion-item class="input-item">
          <ion-label position="floating" color="primary">Email</ion-label>
          <ion-input  [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>

        <!-- Boton Login-->
        <ion-button expand="block"  (click)="login()" class="login-button" >Login</ion-button>
        
        <ion-button expand="block" (click)="registro()"   fill="clear"   class="register-button">Registrarse</ion-button>

        <ion-text class="forgot-password" color="medium">
          <a href="#">Olvidaste tu contraseña</a>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
