<ion-header [translucent]="true">
  <ion-toolbar>
    <app-company-name [companyName]="'Todo Pet'"></app-company-name>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="centros-medicos">
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Centros veterinarios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="recetas">
        <ion-icon name="person"></ion-icon>
        <ion-label>Recetas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="galeria">
        <ion-icon name="images-outline"></ion-icon>
        <ion-label>Galería</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="adoptame">
        <ion-icon name="paw-outline"></ion-icon>
        <ion-label>Adóptame</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
