// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-tab-bar-background: #D35400; /* Color de fondo de la barra de pestañas */
    --ion-tab-bar-color:  white; /* Color de los íconos y texto cuando están inactivos */
    --ion-tab-bar-color-selected: yellow; /* Color de los íconos y texto cuando están activos */
  }