.gallery-grid {
  padding: 10px;
}

.image-container {
  position: relative;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.5, 1), box-shadow 0.4s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1) rotate(1deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ff4d4d;
  cursor: pointer;
  z-index: 10;
}

.delete-icon:hover {
  color: #ff0000;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}
