<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title_tab">
    <h2>Galería</h2>
  </div>

  <!-- Modal para imágenes ampliadas -->
  <ion-modal [isOpen]="showModal" (ionModalDidDismiss)="closeModal()">
    <ng-container *ngIf="selectedImage">
      <div class="modal-content">
        <img [src]="selectedImage" alt="Vista ampliada" />
      </div>
    </ng-container>
  </ion-modal>

  <ion-grid class="gallery-grid">
    <ion-row>
      <ion-col
        size="6"
        size-md="4"
        size-lg="3"
        *ngFor="let image of images; let i = index"
        [ngClass]="{ 'fade-in': true }"
      >
        <div class="image-container">
          <img
            [src]="image"
            loading="lazy"
            class="gallery-image"
            alt="Image {{ i + 1 }}"
            (click)="openModal(image)"
          />
          <ion-icon name="trash" class="delete-icon" (click)="deleteImage(i)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botones flotantes -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed"></ion-fab>
    <ion-fab-button (click)="uploadPhoto()">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
